.vux-header {
	background-color: rgb(247,247,247) !important;
	.vux-header-left {
		.left-arrow:before {
			color: #000;
			border-color: #000 !important;
		}
	}
	.vux-header-title {
		color: #000 !important;
	}
}
.vux-tab .vux-tab-item.vux-tab-selected {
	font-size: 16px !important;
	font-weight: 600;
}
.vux-slider {
	height: calc(100%);
	.vux-swiper {
		height: 100% !important
	}
}

.weui-cells {margin-top: 0 !important}